name: Pipeline
on: 
   workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.OIDC_ARN }}
          aws-region: ${{ secrets.REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        if: ${{ secrets.ECR_REPO && secrets.ECR_ACCOUNT && secrets.REGION }}
        run: docker-build ECR_ACCOUNT=${{ secrets.ECR_ACCOUNT }} AWS_REGION=${{ secrets.REGION }} ECR_REPO=${{ secrets.ECR_REPO }}

      - name: Push Docker image to ECR
        if: ${{ secrets.ECR_REPO && secrets.ECR_ACCOUNT && secrets.REGION }}
        run: docker-build ECR_ACCOUNT=${{ secrets.ECR_ACCOUNT }} AWS_REGION=${{ secrets.REGION }} ECR_REPO=${{ secrets.ECR_REPO }}
