name: Docker
on: 
  workflow_dispatch:
     inputs:
      environment:
        description: Environemnt
        required: true
        type: choice
        default: 'UAT'
  

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.OIDC_ARN }}
          aws-region: ${{ env.REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        if: ${{ env.ECR_REPO && env.ECR_ACCOUNT && env.REGION }}
        run: docker-build ECR_ACCOUNT=${{ env.ECR_ACCOUNT }} AWS_REGION=${{ env.REGION }} ECR_REPO=${{ env.ECR_REPO }}

      - name: Push Docker image to ECR
        if: ${{ env.ECR_REPO && env.ECR_ACCOUNT && env.REGION }}
        run: docker-build ECR_ACCOUNT=${{ env.ECR_ACCOUNT }} AWS_REGION=${{ env.REGION }} ECR_REPO=${{ env.ECR_REPO }}
